

	<section class="body">
		            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-info"></i> Уведомление </h4>
                 <p>Это платный раздел. Если вы хотите получить к нему доступ, свяжитесь с нами.</p>
              </div>

	</section>

