<table class="table table-hover">
    <tr>
        <th></th>
        <th>Дата</th>
        <th>Тип</th>
        <th>Марка</th>
        <th>Модель</th>
        <th>Модификация</th>
        <th>Регион</th>
        <th>Код детали</th>
        {% if user.is_authenticated %}
            <th>Детали</th> {% else %}
            <th></th>{% endif %}
        <th></th>
        <th></th>
    </tr>
    {% for inq in inquires %}
        <tr {% if user.is_authenticated %} id="{{ inq.id }}" {% else %} id="0" {% endif %}

                {% comment %} подсветка прочитанныех заявок {% endcomment %}
                {% if inq in readInq %}
                    class="read inq"
                {% else %}
                    class="inq"
                {% endif %} >

            {% comment %} пометка избранных {% endcomment %}
            {% if inq in favorInq %}
                <td ><span class="favor text-yellow glyphicon glyphicon-star"></span></td>
            {% else %}
                <td><span class="favor glyphicon glyphicon-star-empty"></span></td>
            {% endif %}

            <td>{{ inq.date }}</td>
            <td>{{ inq.part_type }}</td>
            <td>{{ inq.brand }}</td>
            <td>{{ inq.model }}   {% if inq.submodel != None %} / {{ inq.submodel }} {% endif %}</td>
            <td>{% if inq.modify != None %} {{ inq.modify }} {% endif %}</td>
            <td>{% if inq.region != None %} {{ inq.region }} {% endif %}</td>
            <td>{{ inq.part_code }}</td>


                <td><a class="popdown" href="javascript:void(0)">
                    <button type="button" class="btn btn-block btn-primary btn-xs">подробно</button>
                </a></td>



        </tr>

    {% endfor %}
</table>