<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Заявки</h3>

                <div class="box-tools">
                    {% if user.is_authenticated %}
                        <div class="checkbox" style="width: 150px;">
                            <label for="favorit">
                                <input id="favorit" type="checkbox">
                                <b>Избранное</b>
                            </label>
                        </div>
                    {% endif %}
                    {% comment %}
                        <div class="input-group input-group-sm" style="width: 150px;">


                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                     {% endcomment %}

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">


                <div class="col-md-5" id="br_filter">

                    <label for="br_select">Марки</label>
                    <select id="br_select" class="brand_selector" multiple="multiple" style="width: 100%">
                        {% for brand in brands %}
                            <option value="{{ brand.name }}">{{ brand.name }}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class="col-md-4" id="rg_filter">

                    <label for="rg_select">Регион</label>
                    <select id="rg_select" class="region_selector" multiple="multiple" style="width: 100%">
                        {% for region in regions %}
                            <option value="{{ region.name }}">{{ region.name }}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="col-md-2" id="pt_filter">
                    <div class="form-group">
                        <label id="part_type_label" for="part_type">Тип</label>
                        <select id="part_type" class="form-control" style="width: 100%;">
                            <option></option>
                            <option>Двигатель</option>
                            <option>КПП</option>
                        </select>
                    </div>
                </div>

                <!-- Для таблицы запросов -->
                <div id="inq_table">

                    {% comment %}
                        сюда ajax-ом будем подгружать таблицу
                 {% endcomment %}

                    {% include 'inquiry_table/inquiry_table_data.html' %}
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">

                <div id="inq_paginator">
                    {% include 'inquiry_table/inquiry_table_pag.html' %}
                </div>

            </div>
            <!-- /.footer-body -->
        </div>
        <!-- /.box -->
    </div>

</div>