<ul class="pagination pagination-sm no-margin pull-right">
    {% if inquires.has_previous %}
        <li>
            <a href="javascript:void(0)" class="paginator" id="page={{ inquires.previous_page_number }}">&laquo;</a>
        </li>
    {% endif %}

    {% for pageNum in paging.num_pages %}
        {% if pageNum == paging.page %}
            <li class="active">
                <a href="javascript:void(0)" class="paginator" id="page={{ pageNum }}">{{ pageNum }}</a>
            </li>
        {% else %}
            <li>
                <a href="javascript:void(0)" class="paginator" id="page={{ pageNum }}">{{ pageNum }}</a>
            </li>
        {% endif %}

    {% endfor %}

    {% if inquires.has_next %}
        <li>
            <a href="javascript:void(0)" class="paginator" id="page={{ inquires.next_page_number }}">&raquo;</a>
        </li>
    {% endif %}

</ul>