<div class="popdown-content" >
	<header>
		<h2>Заявка</h2>
	</header>


	<section class="body">
		<table class="table table-hover">
         <tr>
             <th>Телефон</th>
             <th>Город</th>
             <th>Имя</th>
             <th>Email</th>
             <th>Комментарий</th>
         </tr>
            <tr>
                <td>{{ inquiry.tel }}</td>
                <td>{{ inquiry.city }}</td>
                <td>{{ inquiry.customer_name }}</td>
                <td>{{ inquiry.email }}</td>
                <td>{{ inquiry.description }}</td>
            </tr>
        </table>


	</section>


	<footer>
		<button class="close-popdown">Закрыть</button>
	</footer>

</div>