
/* подсвечивается поле активной модификации в таблице модификаций*/
tr.activemodify {
    background-color: #d6e9c6;
}

/* подсвечивается просмотренные объявления*/
tr.read {
    background-color: #d6e9c6;
}

/*подсвечиваются избранные объявления*/
tr.favorinq {
    background-color: #d6e9c6;
}
