{% extends 'base_LTE.html' %}


{% block content %}

    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- Форма входа -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Авторизация</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <form class="form-horizontal" id="login-form" action="/accounts/login/" method="post">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">

                            <label for="username" class="col-sm-2 control-label">Имя пользователя</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="username" id="username"
                                       placeholder="Имя пользователя">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Пароль</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="пароль">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember_me" id="remember"> Запомнить меня
                                    </label>
                                </div>
                            </div>
                        </div>

                        {% if error %}
                            <span class="text-red">{{ message }}</span>
                        {% endif %}
                    </div>


                    <!-- /.box-body -->
                    <div class="box-footer">

                        <button type="submit" class="btn btn-info pull-right">Войти</button>
                        <button type="submit" name="cancel" value="Cancel" class="btn btn-default">Отмена</button>
                        <input type="hidden" name="next" value="{{ request.path }}"/>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
    <!-- /.box -->

{% endblock %}


{% block js %}
    {% include 'link_js_forms.html' %}
{% endblock %}