   {% extends 'base_LTE.html' %}
      <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Страница не обнаружена.</h3>


        </div>
        <!-- /.error-content -->
      </div>