{% extends "base_LTE.html" %}

{% block css %}

    <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>

{% endblock %}

{% block content %}
 {% csrf_token %}
    <div class="box box-default">

        <div class="box-body">
            <div class="row">
                <div class="box-header with-border">
                    <h3 class="box-title">Данные автомобиля</h3>
                </div>

            <div id="alert">

            </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label id="date_label" for="datepicker">Дата:</label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input disabled type="text" class="form-control pull-right" id="datepicker" value="{{ date }}">
                        </div>
                        <!-- /.Дата -->
                    </div>


                    <div class="form-group">
                        <label id="part_type_label" for="part_type">Тип</label>
                        <select id="part_type" class="form-control" style="width: 100%;">
                            <option></option>
                            <option>Двигатель</option>
                            <option>КПП</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label id="brands_label" for="brands">Марка автомобиля*</label>
                        <select id="brands" class="form-control" style="width: 100%;">
                            <option></option>
                            {% for brand in brands %}
                                <option id="{{ brand.id }}"> {{ brand.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.Марка -->

                    <div id="models_row">
                        <div class="form-group">
                            <label id="models_label" for="models">Модельный ряд*</label>
                            <select id="models" class="form-control " style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <!-- /.Модель -->

                    <div id="submodels_row">
                        <div class="form-group">
                            <label id="submodels_label" for="submodels">Модель</label>
                            <select id="submodels" class="form-control select2" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <!-- /.подмодель -->

                    <div class="form-group" style="width: 50%">
                        <label id="part_code_label" for="part_code">Код двигателя/коробки</label>
                        <input id="part_code" type="text" class="form-control">
                    </div>

                </div>
                <!-- col-md-3-->
                <div class="col-md-8">
                    <div id="modifies_row"></div>
                </div>
            </div>

            <div class="row">
                <div class="box-header with-border">
                    <h3 class="box-title">Контактная информация</h3>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label id="region_label" for="region">Регион</label>
                        <select class="form-control" id="region" style="width: 100%;">
                            <option></option>
                            {% for region in regions %}
                                <option id="{{ region.id }}"> {{ region.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group" style="width: 70%">
                        <label id="city_label" for="city">Город</label>
                        <input id="city" type="text" class="form-control">
                    </div>

                    <div class="form-group" style="width: 50%">
                        <label id="customer_name_label" for="customer_name">Имя</label>
                        <input id="customer_name" type="text" class="form-control">
                    </div>

                    <div class="form-group" style="width: 50%">
                        <label id="phone_label" for="phone">Телефон</label>
                        <input id="phone" type="number" class="form-control">
                    </div>

                    <div class="form-group">
                        <label id="email_label" for="inputEmail3">Email</label>
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>

                </div>
                <div class="col-md-8">

                 <label id="desc_label" for="inputEmail3">Комментарий</label>
                 <textarea class="textarea" id="desc" placeholder="Поле для комментариев" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>


                </div>
            </div>
            <!-- col-md-6-->
            <div id="success">

            </div>

        </div>

        <!--box body-->

     <div class="box-footer">
         <div class="col-md-2">
          <button id="submit" type="button" class="btn btn-block btn-primary btn-lg">Сохранить</button>
         </div>
             <div class="col-md-2">
             <button id="cancel" type="button" class="btn btn-block btn-default btn-lg">Отменить</button>

        </div>

    </div>

        <!--box-body-->

    </div><!--box-default-->

{% endblock %}

{% block js %}
    {% include 'link_js_forms.html' %}
{% endblock %}