<!-- Freeman script-->
<script src="/static/js/inq_tab_micro.js"></script>

<script src="/static/js/popup/jquery.popdown.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
