<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Bootstrap Metro Dashboard by Dennis Ji for ARM demo</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="Dennis Ji">
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="/static/janux/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/janux/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="/static/janux/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="/static/janux/css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="/static/janux/css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="/static/janux/css/ie9.css" rel="stylesheet">
	<![endif]-->
		
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="/static/janux/img/favicon.ico">
	<!-- end: Favicon -->
	
			<style type="text/css">
			body { background: url(/static/janux/img/bg-login.jpg) !important; }
		</style>
		
		
		
</head>

<body>
		<div class="container-fluid-full">
		<div class="row-fluid">
					
			<div class="row-fluid">
				<div class="login-box">
					<div class="icons">
						<a href="index.html"><i class="halflings-icon home"></i></a>
						<a href="#"><i class="halflings-icon cog"></i></a>
					</div>
					<h2>Вход в систему</h2>
					<form class="form-horizontal" id="login-form" action="/accounts/login/" method="post">
                        {% csrf_token %}
						<fieldset>
							
							<div class="input-prepend" title="Username">
								<span class="add-on"><i class="halflings-icon user"></i></span>
								<input class="input-large span10" name="username" id="username" type="text" placeholder="Имя пользователя" style="width: 100%"/>
							</div>
							<div class="clearfix"></div>

							<div class="input-prepend" title="Password">
								<span class="add-on"><i class="halflings-icon lock"></i></span>
								<input class="input-large span10" name="password" id="password" type="password" placeholder="Пароль" style="width: 100%"/>
							</div>
							<div class="clearfix"></div>
							
							<label class="remember" for="remember"><input type="checkbox" id="remember" />Запомнить меня</label>

							<div class="button-login">	
								<button type="submit" class="btn btn-primary">Вход</button>
                                <input type="hidden" name="next" value="{{ request.path }}" />
							</div>
							<div class="clearfix"></div>
                            </fieldset>
					</form>

				</div><!--/span-->
			</div><!--/row-->
			

	</div><!--/.fluid-container-->


	<!-- start: JavaScript-->

		<script src="/static/janux/jsjquery-1.9.1.min.js"></script>
	<script src="/static/janux/jsjquery-migrate-1.0.0.min.js"></script>
	
		<script src="/static/janux/jsjquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="/static/janux/jsjquery.ui.touch-punch.js"></script>
	
		<script src="/static/janux/jsmodernizr.js"></script>
	
		<script src="/static/janux/jsbootstrap.min.js"></script>
	
		<script src="/static/janux/jsjquery.cookie.js"></script>
	
		<script src='/static/janux/jsfullcalendar.min.js'></script>
	
		<script src='/static/janux/jsjquery.dataTables.min.js'></script>

		<script src="/static/janux/jsexcanvas.js"></script>
	<script src="/static/janux/jsjquery.flot.js"></script>
	<script src="/static/janux/jsjquery.flot.pie.js"></script>
	<script src="/static/janux/jsjquery.flot.stack.js"></script>
	<script src="/static/janux/jsjquery.flot.resize.min.js"></script>
	
		<script src="/static/janux/jsjquery.chosen.min.js"></script>
	
		<script src="/static/janux/jsjquery.uniform.min.js"></script>
		
		<script src="/static/janux/jsjquery.cleditor.min.js"></script>
	
		<script src="/static/janux/jsjquery.noty.js"></script>
	
		<script src="/static/janux/jsjquery.elfinder.min.js"></script>
	
		<script src="/static/janux/jsjquery.raty.min.js"></script>
	
		<script src="/static/janux/jsjquery.iphone.toggle.js"></script>
	
		<script src="/static/janux/jsjquery.uploadify-3.1.min.js"></script>
	
		<script src="/static/janux/jsjquery.gritter.min.js"></script>
	
		<script src="/static/janux/jsjquery.imagesloaded.js"></script>
	
		<script src="/static/janux/jsjquery.masonry.min.js"></script>
	
		<script src="/static/janux/jsjquery.knob.modified.js"></script>
	
		<script src="/static/janux/jsjquery.sparkline.min.js"></script>
	
		<script src="/static/janux/jscounter.js"></script>
	
		<script src="/static/janux/jsretina.js"></script>

		<script src="/static/janux/jscustom.js"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
