
<div class="form-group">
    <label id="models_label" for="models">Модельный ряд*</label>
    <select id="models" class="form-control select2" style="width: 100%;">
        <option></option>
      {% for model in models %}
          <option id="{{ model.id }}">{{ model.name }} </option>
      {% endfor %}

    </select>
</div>