
        {% if modifies %}
            <table class="table table-bordered" id="modifies">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Название</th>
                        <th>Привод</th>
                        <th>Двигатель</th>
                        <th>Годы выпуска</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for modify in modifies %}
                        <tr class="mod" id="{{ modify.id }}">
                            <td><input type="checkbox" value=""></td>
                            <td class="left">{{ modify.name }}</td>
                            <td class="center">{{ modify.drivetype }}</td>
                            <td class="center">{{ modify.enginetype }}</td>
                            <td class="center">{{ modify.release_from }} - {{ modify.release_to }}</td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>


        {% endif %}
