
        <div class="form-group">
            <label id="submodels_label" for="submodels">Модель</label>


                <select id="submodels" class="form-control select2" style="width: 100%;">
                    {% for submodel in submodels %}
                        <option id="{{ submodel.id }}">{{ submodel.name }} </option>
                    {% endfor %}
                </select>


          </div>
